{% macro resource(act) %}
  <a href="{{ h.dsaudit_resource_url(act.object_id, act.data.resource_id) }}">{{ act.data.resource_id }}</a>
{% endmacro %}

<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x icon"></i>
    <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
  </span>
  {% if 'filters' in activity.data or 'count' in activity.data %}
    {% if 'total' in activity.data or 'count' in activity.data %}
      {% set msg=ngettext(
        '{actor} deleted %(num)d record from the datastore resource {resource}',
        '{actor} deleted %(num)d records from the datastore resource {resource}',
        activity.data.total or activity.data.count or 0) %}
    {% else %}
      {% set msg=_('{actor} deleted records from the datastore resource {resource}') %}
    {% endif %}
    {{ msg.format(actor=ah.actor(activity), resource=resource(activity))|safe }}

    {% if 'records' in activity.data %}
      {% set cols = h.dsaudit_data_columns(activity.data) %}
      <div style="margin: 5px 0 0 80px;">
        <table class="table table-sm table-responsive">
          <thead>
            {% for c in cols %}<th scope="col">{{ c }}</th>{% endfor %}
          </thead>
          <tbody>
            {% for r in activity.data.records[:h.dsaudit_preview_records()] %}
              <tr>
                {% for c in cols %}<td>{{ r.get(c, '') }}</td>{% endfor %}
              </tr>
            {% endfor %}
            {% if activity.data.records|count > h.dsaudit_preview_records() %}
              <tr>
                <td colspan="{{ cols|count }}">
                  ...
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    {% else %}
      {% set cols = activity.data.filters.keys() %}
      <div style="margin: 5px 0 0 80px;">
        <table class="table">
          <thead>
            {% for c in cols %}<td scope="col">{{ c }}</td>{% endfor %}
          </thead>
          <tbody>
            <tr>
              {% for c in cols %}<td>{{ activity.data.filters.get(c, '') }}</td>{% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    {% endif %}

  {% else %}
    {{ _('{actor} deleted the datastore resource {resource}').format(
      actor=ah.actor(activity),
      resource=resource(activity),
    )|safe }}
    <br/>
  {% endif %}

  <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
    {{ h.time_ago_from_timestamp(activity.timestamp) }}
  </span>
</li>
